---
import HeaderLink from "./HeaderLink.astro";
import { TWITTER_PROFILE_URL } from "../config";
---

<header>
  <a
    class="unset absolute z-10 left-[50%] -top-[100rem] translate-x-[-50%] bg-white text-black px-8 py-2 focus:top-[initial]"
    href="#main"
  >
    Skip to content
  </a>
  <nav>

    <section class="text-text-bold flex">
      <a class="brand rounded-full mr-4" href="/"></a>

      <ul class="unset flex items-center gap-4 [&>li]:p-0">
        <li><HeaderLink href="/">Główna</HeaderLink></li>
        <li><HeaderLink href="/blog">Blog</HeaderLink></li>
        <li><HeaderLink href="/co-to">Co to?</HeaderLink></li>
      </ul>
    </section>
  </nav>
  <div
    class="max-[375px]:hidden justify-self-end py-2 flex items-center content-center text-text-bold"
  >
    <a
      class="unset text-xl ml-4 hover:text-text-link"
      href={TWITTER_PROFILE_URL}
      target="_blank"
    >
      <i
        class="fa-brands fa-twitter"
        aria-hidden="true"
        title="!Bez testów na Twitterze"></i>
      <span class="fa-sr-only">!Bez testów na Twitterze</span>
    </a>
  </div>
</header>
<style>
  header {
    grid-area: header;
    display: grid;
    align-items: center;
    grid-template-columns: minmax(0, 1fr) minmax(0, max-content) minmax(
        0,
        max-content
      );
  }

  header .brand {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url('/images/beztestow-avatar-200x200.png');
    background-size: cover;
  }
</style>
